<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ microMathematics - Extended Visual Calculator
  ~ Copyright (C) 2014-2022 by Mikhail Kulesh
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU
  ~ General Public License as published by the Free Software Foundation, either version 3 of the License,
  ~ or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without
  ~ even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details. You should have received a copy of the GNU General
  ~ Public License along with this program.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mkulesh.micromath"
    android:installLocation="auto"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="UnusedAttribute,AllowBackup">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseThemeLight"
        android:description="@string/app_description">

        <activity
            android:name="com.mkulesh.micromath.MainActivity"
            android:label="@string/app_short_name"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation|screenSize|layoutDirection|keyboardHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

           
            <!-- This filter captures protocols without file extension -->
            <intent-filter
                android:icon="@mipmap/ic_launcher"
                android:label="@string/app_name" >
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.OPENABLE"/>

                <data android:scheme="file"/>
                <data android:scheme="ftp"/>
                <data android:scheme="ftps"/>
                <data android:scheme="sftp"/>
                <data android:scheme="content"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="smb"/>

                <data android:mimeType="text/xml" />
                <data android:mimeType="application/mmt" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>

            <!-- This filter captures protocols with file extension -->
            <intent-filter
                android:icon="@mipmap/ic_launcher"
                android:label="@string/app_name" >
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.OPENABLE"/>

                <data android:scheme="file"/>
                <data android:scheme="ftp"/>
                <data android:scheme="ftps"/>
                <data android:scheme="sftp"/>
                <data android:scheme="content"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="smb"/>

                <data android:host="*"/>
                <data android:pathPattern=".*.MMT" />
                <data android:pathPattern=".*.mmt" />
                <data android:pathPattern=".*\\..*\\.MMT" />
                <data android:pathPattern=".*\\..*\\.mmt" />
                <data android:pathPattern=".*\\..*\\..*\\.MMT" />
                <data android:pathPattern=".*\\..*\\..*\\.mmt" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.MMT" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.mmt" />
            </intent-filter>

            <!-- This filter captures "Share" option -->
            <intent-filter
                android:icon="@mipmap/ic_launcher"
                android:label="Open with uMath">
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="text/xml" />
                <data android:mimeType="application/mmt" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>

            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts"/>
        </activity>

        <activity
            android:name="com.mkulesh.micromath.SettingsActivity"
            android:label="@string/action_app_settings"
            android:parentActivityName="com.mkulesh.micromath.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mkulesh.micromath.MainActivity" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.mkulesh.micromath.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>