<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mkulesh.micromath.plus"
    android:installLocation="auto" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="${appName}"
        android:theme="@style/MicroMathActionBarTheme" 
        android:description="@string/app_description">
        <activity
            android:name="com.mkulesh.micromath.plus.MainActivityPlus"
            android:label="${appShortName}"
            android:launchMode="singleTask"
            android:theme="@style/MicroMathActionBarTheme"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

           
            <!-- This filter captures protocols with type info -->
            <intent-filter
                android:icon="@drawable/ic_launcher"
                android:label="${appName}" >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                
                <data android:mimeType="text/plain" />
                <data android:mimeType="text/xml" />
                
                <data android:pathPattern=".*\\.xml" />
                <data android:pathPattern=".*\\.mmt" />
            </intent-filter>            
        </activity>
    </application>

</manifest>